.container {
    position: absolute;
    top: 5;
    right: 0;
    width: 350px;
    height: 90vh;
    background-color: rgb(247, 247, 247);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  }
input{
    width: 100%;
    border: none;
}

input:focus {
    outline: none;
}

.add_step{
    background: #fff;
}

.task_hover:hover{
    background-color: rgb(247, 247, 247) !important;
}

ul{
    list-style: none;
    padding: 0;
}

ul li{
    border-bottom: 1px solid rgb(203, 203, 203);
    padding: 12px;
}

.add_note{
    background: #fff;
    height: 12vh;
}
//Mise à jour div
p {
    font-size: smaller;
    color: rgb(190, 190, 190);
    padding-left: 18px;
}

.details_bottom{
    border-top: 1px solid rgb(203, 203, 203);
}