.header_section {
    margin-right: calc(100vw - (100vw - 0.1rem));
}


nav{
    // position: absolute;
    width: calc(100vw - (20rem + 2rem));
    height: 7vh;
    align-items: center;
    padding: 0px 30px 0px 80px;
    // background: rgb(213, 213, 213);
    margin-bottom: 15px;
    left: auto;
    right: auto;
}

nav ul{
    padding: 0;
    margin: 0;
}

nav ul li{
    margin: 0 25px;
}

// nav ul li a{
//     // color: color(dark-muted);
//     text-decoration: none;
//     font-size: 16px;
//     font-weight: bold;
//     letter-spacing: 1px;
//     // @include global-transition;
//     // &:hover{
//     //     color: color(light);
//     // }
// }